.nav-bar{
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    grid-template-columns: (4,auto);
    grid-gap: 50px;
    list-style: none;
    border-bottom: solid; 
    border-width: 2px;
    color: #DDDDDD;
}

.nav-links{
    position: relative;
    transition: 0.3s;
    font-family: 'Noto Sans KR';
    color: rgba(0,0,0,0.47);
    padding: 1rem 0; 
    font-size: 15px;
    text-decoration: none;
}

ul > .nav-links:before{
    content:"";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #FF6633;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: 0.3s;
}

.nav-links:not(.is-active):hover:before{
    opacity: 1;
    bottom: 0;
}

.nav-links:not(.is-active):hover{
    color: #FF6633;
    font-weight: bold;  
    transition: all 0.2s ease-out;
}


ul > .nav-indicator{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: 0.4s;
    z-index: 1;
    border-radius:  8px 8px 0 0;
    background-color: #FF6633;
}

.item-clicked {
    font-weight: bold;
    color: #FF6633;
    display: grid;
    grid-template-columns: repeat(4,auto);
    column-gap: 50px;
    list-style: none;
    text-align: center;
    width: 150vw;
    justify-content: center;
    padding:0px;
    margin: 0px;
}

.item-unclicked {  
    display: grid;
    grid-template-columns: repeat(4,auto);
    column-gap: 50px;
    list-style: none;
    text-align: center;
    width: 150vw;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}   

