.nav-bar{
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    grid-template-columns: (4,auto);
    grid-gap: 50px;
    list-style: none;
    box-shadow: 
    0 2px 4px -2px rgba(0,0,0,0.2);
}

@media only screen and (min-width: 960px){
    .nav-links{
        position: relative;
        transition: 0.3s;
        font-family: 'Noto Sans KR';
        color: rgba(0,0,0,0.47);
        padding: 1rem 0; 
        font-size: 17px;
        text-decoration: none;
    }
    

    .nav-links:before{
        content:"";
        position: absolute;
        bottom: -7px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #FF6633;
        border-radius: 8px 8px 0 0;
        opacity: 0;
        transition: 0.3s;
    }

    .nav-links:not(.is-active):hover:before{
        opacity: 1;
        bottom: 0;
    }

    .nav-links:not(.is-active):hover{
       color: #FF6633;
       font-weight: bold;  
       transition: all 0.2s ease-out;
    }

    .nav-indicator{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        transition: 0.4s;
        z-index: 1;
        border-radius:  8px 8px 0 0;
        background-color: #FF6633;
    }

    .item-clicked {
        font-weight: bold;
        color: #FF6633;
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-gap: 50px;
        list-style: none;
        text-align: center;
        width: 150vw;
        justify-content: center;
        padding:0px;
        margin: 0px;
    }
    
    .item-unclicked {  
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-gap: 50px;
        list-style: none;
        text-align: center;
        width: 150vw;
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }   
}

@media only screen and (max-width: 960px) {
    .nav-links{
        font-family: 'Noto Sans KR';
        color: rgba(0,0,0,0.47);
        padding: 0.1rem 1rem; 
        font-size: 14px;
        text-decoration: none;
    }

    .nav-links:hover{
        font-weight: bold;
        color: #FF6633;
        font-size: 14px;   
        transition: all 0.2s ease-out;
    }

    .item-clicked {
        font-weight: bold;
        color: #FF6633;
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-gap: 20px;
        list-style: none;
        text-align: center;
        width: 100vw;
        justify-content: center;
        padding:1px;
    }
    
    .item-unclicked {
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-gap: 20px;
        list-style: none;
        text-align: center;
        width: 100vw;
        justify-content: center;
        padding:1px;
    } 
}