.key-container {
    margin: 40px 22%;
    position: relative;
    display:flex;
    text-align:center;
    border-bottom: 2px solid #DDDDDD;
}

.key-functions{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* padding: 4px; */
}

.key-search{
    display: flex;
    flex-direction: column;
}

.key-searchBox{
    display: flex;
	width: 350px; height: 31px;
	border: solid #FF926D;
    border-width: 2px;
    margin-top: 6px;
}

.key-classify{
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    font-size: 12px;
    width: 100px; height: 31px;
    border: solid #FF926D;
    border-width: 0 1px 0 0;
    text-align: center;
    color: rgba(0,0,0,0.67);
    float:left;
    flex-direction: column;
}

.key-input{
    width: 240px; height: 29px;
	border: 0;
	line-height: 20px;
	font-size: 12px;
	outline: none;
    margin-left: 10px;
}

.key-submit{
    height: 30px;
    width: 35px;
	margin: 0;
    background-color: white;
	color: #FF926D;
	border-radius: 0px;
    border-width: 0px;
	cursor: pointer;
    font-size: 20px;
    float:right;
    outline:none;
    text-align: center;
}

.key-massSearch{
    width: 36.1vw;
    display:inline-flex;
    margin-bottom: 8px;
    margin-left: 15px;
    height: 118px;
    border: solid #FF926D;
    border-width: 2px;
}

.key-massInput{
    width: 35vw;
    margin-left: 8px;
    border-width: 0px;
    outline : none;
    font-size: 12px;
    resize:none;
    padding: 3px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 94px;
    width: 100%;
    font-family: "NanumSquare";
    font-size: 12px;
    line-height: 20px;
}

.key-descript .descript{
    padding: 8px;
    text-align: left;
    outline:none;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap; 
    align-content: space-between; 
}

.key-massSearch .key-classify{
    width: 125px; height: 118px;
    font-size: 12px;
    border: solid #FF926D;
    border-width: 0 1px 0 0;
}

.key-keyauto{
    display: inline-block;
    outline: none;
    font-size: 7px;
    width: 95px;
    height: 20px;
    text-align: center;
    vertical-align: center;
    margin: 3px;
    margin-top: 18px;
    font-family: "NanumSquare";
    background-color: #FFCDBC;
    border-radius: 5px;
    border-width: 0;
    padding: 0px;
    color: #878787;
}

.key-massSearch{
    width: 36.1vw;
    display:inline-flex;
    margin-bottom: 8px;
    margin-left: 15px;
    height: 118px;
    border: solid #FF926D;
    border-width: 2px;
}



