.header {
    background-color: white;
    margin-bottom: 10px;
    font-weight: 300;
    color: #cccccc;
    border-bottom: solid;
}

.corp_name {
   font-size: 200%;
   color: #FF6633;
   font-family:  "Noto Sans", sans-serif !important;
   font-weight: 900;
   margin-top: 20px;
   padding: 20px;
}
