.main-footer{
    position: fixed;
    color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: white;
}

.li{
    font-family: "KoPub Dotum";
    font-weight: 300;
    font-size: 11px;
    text-align: center;
    line-height: 160%;
    list-style-type: none;
    padding-left: 0;
}